// ---
// # Only the main Sass file needs front matter (the dashes are enough)
// ---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.small-img {
    width: 150px;
    height: auto;
}

  div .time-line {
    list-style: none;
    padding-left: 0;
    margin-bottom: 24px; 
  }
    div .time-line-item {
      line-height: 0;
      padding-left: 40px;
      padding-bottom: 24px;
      position: relative; }
      div .time-line-item::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        left: 5px;
        transform: translateX(-50%);
        width: 1px;
        background-color: #f3f3f3; }
      div .time-line-item::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #979797; }
      div .time-line-item:nth-child(2n)::after {
        background-color: #0067f6; }
      div .time-line-item:not(:first-child)::after {
        top: 5px; }
      div .time-line-item:last-child {
        padding-bottom: 0; }
      div .time-line-item .badge {
        padding: 6px 10px;
        font-size: 8px;
        font-weight: 500;
        line-height: 1;
        border-radius: 2px;
        margin-bottom: 8px; }
      div .time-line-item-title {
        font-size: 15px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 2px; }
      div .time-line-item-subtitle {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.6;
        color: #a7a7a7;
        margin-bottom: 3px; }
      div .time-line-item-content {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.6;
        margin-bottom: 0; }

  div .portfolio-section {
    margin-bottom: 33px; }
  div .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    div .portfolio-wrapper .portfolio-item {
      width: calc(25% - 10.5px);
      height: 300px;
      margin-bottom: 15px;
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 1500px) {
        div .portfolio-wrapper .portfolio-item {
          width: calc(50% - 7px); } }
      @media (max-width: 991px) {
        div .portfolio-wrapper .portfolio-item {
          width: 100%; } }
      @media (max-width: 767px) {
        div .portfolio-wrapper .portfolio-item {
          width: calc(50% - 7px); } }
      @media (max-width: 575px) {
        div .portfolio-wrapper .portfolio-item {
          width: 100%; } }
      div .portfolio-wrapper .portfolio-item-img {
        max-height: 198px;
        max-width: 100%; }
      div .portfolio-wrapper .portfolio-item-details {
        padding: 22px 26px;
        background-color: rgba(0, 0, 0, 0.42);
        color: #ffffff; }
      div .portfolio-wrapper .portfolio-item-title {
        font-size: 10px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 5px; }
      div .portfolio-wrapper .portfolio-item-description {
        font-size: 10px;
        line-height: 1;
        margin-bottom: 0; }